<h2>Please enter the information you would like to edit.</h2>

<%= form_for @crop do |f| %>
  <%= f.label "Common Name" %>
  <%= f.text_field :name %>

<!-- creates radio button with seasons to select -->
  <%= f.collection_radio_buttons(:season_id, Season.all, :id, :name) %>
  <%= f.submit "Edit Crop" %>
<% end %>
