<h2>Please enter crop name and season :)</h2>

<%= form_for @crop do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :season_id %>
  <%= f.text_field :season_id %>

<%= f.submit %>

<%= yield %>
<% end %>
