<h2>Sow some good! Please enter crop name and season :)</h2>

<%= form_for @crop do |f| %>
  <%= f.label "Common Name" %>
  <%= f.text_field :name %>

  <%= f.label "Scientific Name" %>
  <%= f.text_field :sci_name %>

  <%= f.label "Season ID" %>
  <%= f.text_field :season_id %>

    <!-- remove season_id -->

<%= f.submit %>

<%= yield %>
<% end %>
