<h2>Sow some good! Please enter crop name and season :)</h2>

<%= form_for @crop do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

    <%= f.label :season_id %>
    <%= f.text_field :season_id %>

    <!-- add scientific name
    remove season_id
    add image url
    add redirect to crops index when hit submit -->

<%= f.submit %>

<%= yield %>
<% end %>
