<!DOCTYPE html>
<html>
<head>
  <title>SowGood Farms Community</title>
  <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Lovers+Quarrel|Fredericka+the+Great|Ribeye+Marrow' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1>SowGood Farms</h1>
    <!-- <h2>Welcome to Your Planting Guide!</h2> -->
    <nav>
      <h2><%= link_to "Home", root_path %> | <%= link_to "Seasons", seasons_path %> | <%= link_to "Crops", crops_path %> | <%= link_to "Add Crop", new_crop_path %> | <%= link_to "Shop", sref="http://kimcabb.github.io/SGF-ShopCart/" %></h2>
    </nav>
  <%= yield %>
</body>
</html>
